<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="19.4.1.1" targetFramework="net40" />
  <package id="Syncfusion.Licensing" version="19.4.0.56" targetFramework="net40" />
  <package id="Syncfusion.Pdf.WinForms" version="19.4.0.56" targetFramework="net40" />
  <package id="Syncfusion.PdfViewer.Windows" version="19.4.0.56" targetFramework="net40" />
  <package id="Syncfusion.Shared.Base" version="19.4.0.56" targetFramework="net40" />
</packages>